[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
requests = "*"
django-cors-headers = "*"
python-decouple = "*"
storage = "*"
django-storages = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.12"
